* html {
  box-sizing: border-box;
}
  *,
*:before,
*after {
    box-sizing: inherit;
}
  
html, body, #root {
  background-image: url("/images/furniture.jpg");
  background-color: whitesmoke;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover, auto;
  background-size :no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: "Palatino Linotype", "Book Antiqua", serif
}

#root {
  margin-top: 0px
}