.footer {
  min-height: 60px;
  background-color:rgb(22, 72, 27);
  color: whitesmoke;
  position: relative;
  margin-bottom: 0;  
}
  
.footerTag {
  max-height: 60px;
  float: left;
  margin-left:20px;
  padding: 16px;
  background-color:rgb(22, 72, 27);
  color: rgb(205, 203, 203);
  overflow: hidden
  }  

.developers {
  max-height: 60px;
  float: right;
  line-height: 6px;
  padding-top: 16px;
  padding-right: 36px;
  background-color:rgb(22, 72, 27);
  color: rgb(205, 203, 203);
  text-align: right; 
  overflow: hidden   
}  

p {
  margin-bottom: 0;
  }    