.container {
    width: 90%;
    margin-left:0;
    clear: "both";
    text-align: "center";
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    border-left: groove 2px rgb(22, 72, 27);
    border-right: groove 2px rgb(22, 72, 27);
    border-top: groove 2px rgb(22, 72, 27);
    color: rgb(22, 72, 27);
    border-radius: 0;
    background-color: rgb(242, 240, 240);
    padding-left:20px;
    padding-right:20px;
    padding-top:50px;
    padding-bottom: 50px;

}

h1.title {
    padding: 10px 100px 5px 100px;
}