.formContainer{
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: whitesmoke;
    text-align: "center";
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    color: rgb(27, 94, 34);
    height:100vh
}