.notes {
    background-color: whitesmoke;
    color:rgb(22, 72, 27);
    text-align: center;
}

.note-title {
    border-bottom: 1px dotted;
    padding: 12px 0px 12px 0px
}

.noteForm {
    padding: 0px 15px 0px 15px;
    text-align: center;
    background-color: rgb(186, 186, 186);
    padding: 5px
}

.noNotes {
    font-size: 15px;
    padding-top: 8px
}

.newNote {
    margin-bottom: 15px;
    border-radius: 2px
}